<launch>
<arg name="drive1_host" default="192.168.0.11" />

<group ns="drive1">
    <param name="debug" type="bool" value="false" />
    <node pkg="acsi_eip_driver" type="servo_node" name="servo_node" output="log">
      <param name="host" value="$(arg xaxis_host)" />
    </node>
</group>

</launch>
